*,
::before,
::after {
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

@media (max-width: 1200px) {
    body {
        font-size: 0.9rem;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 0.8rem;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 0.6rem;
    }
}

main {
    display: grid;
    grid-template-columns: 0.6fr 1.5fr;
}

header {
    padding: 20px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: "©";
}

.container {
    max-width: 1280px;
    padding: 0 20px;

    margin-inline: center;
}

.header {
    position: sticky;
    top: 0;
    left: 0;

    background-color: #17181c;
    z-index: 100;

    padding-top: 16px;
    padding-bottom: 16px;
}
